.img-logo {
    max-width: 100%;
 }
 .navbar-brand {
    max-width: 15%;
}
.border-bottom {
    border-bottom: 3px solid #d6d5d5  !important;
}
#menu-navbar{
    width: 100%;
}
@media (min-width: 768px){
    .img-logo {
        max-width: 30%;
    }
}